.row
  %h1.text-center Edit Upload
.posts-wrapper.row
  .post
    .post-head
      .name
        Christina Reilly
    .image.center-block
      = image_tag @post.image.url(:medium), class:'img-responsive'

= render 'form'
