-flash.each do |name, msg|
  %div{ class: [:alert, alert_for(name)] }
    %button.close{ type: "button", "data-dismiss" => "alert" }
      %span{ "aria-hidden" => true } &times;
      %span.sr-only Close
    = msg
